/* Dashboard.css */
.dashboard-container {
  display: flex;
  height: 100vh; /* Chiều cao 100% của viewport */
}

.dashboard-header {
  flex: 0 0 70%; /* Header chiếm 70% chiều rộng, không co giãn */
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.dashboard-sidebar {
  flex: 1; /* Sidebar chiếm phần còn lại */
  background-color: #f4f4f4;
  padding: 20px;
  height: 100%; /* Chiều cao 100% của dashboard-container */
}

.dashboard-content {
  flex: 7; /* Content chiếm 70% chiều rộng */
  padding: 20px;
}

