/* Custom Styles */
.custom-form-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form-heading {
    color: #343a40;
}

.custom-label {
    color: #495057;
}

.custom-input {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #007bff;
    color: #ffffff;
    width: 100px;
}

.custom-link {
    color: #007bff;
}
